<!-- Page Heading -->
<div class="row heading page-header">
	<div class="col-lg-12">
		<h1>
			Campaign Manager
		</h1>
	</div>
</div>
<!-- /.row -->

<div class="row">
	<div class="col-xs-12">
	</div>
</div>

<hr />