<!-- Page Heading -->
<div class="row heading page-header">
	<div class="col-lg-12">
		<h1>DM Screen
			<small>Campaign Management</small>
		</h1>
	</div>
</div>
<!-- /.row -->

<div class="row">
	<div class="dmBoxContainer col-md-6">
		<a href="/dm/rooms">
			<div class="dmBox roomCreator">
				<div class="selector"></div>
				<h3>Room Manager</h3>
			</div>
		</a>
	</div>
	<div class="dmBoxContainer col-md-6">
		<a href="/dm/players">
			<div class="dmBox pcViewer">
				<div class="selector"></div>
				<h3>Player Viewer</h3>
			</div>
		</a>
	</div>
</div>