<!-- Page Heading -->
<div class="row heading page-header">
	<div class="col-lg-12">
		<h1>DM Screen
			<small>Campaign Management</small>
		</h1>
	</div>
</div>
<!-- /.row -->

<div class="row">
	<%
	for(var i = 0; i < campaigns.length; i++)
	{
	%>
	<div class="dmBoxContainer col-md-6">
		<a href="/campaign/<%= campaigns[i].tag %>">
			<div class="dmBox <%= campaigns[i].theme %>">
				<div class="selector"></div>
				<h3><%= campaigns[i].name %></h3>
			</div>
		</a>
	</div>
	<%
	}
	%>
	<div class="dmBoxContainer col-md-6">
		<a href="/dm/newcampaign">
			<div class="dmBox campaignManager">
				<div class="selector"></div>
				<h3>New Campaign</h3>
			</div>
		</a>
	</div>
</div>