<div style="text-shadow: 2px 2px 3px black, 0 0 1em black, 0 0 0.2em black;">
	<h1 style="margin-top: 3em;">
		“You shall not pass.”
		<br />
		<small style="color: white;">
			― Gandalf, J.R.R. Tolkien, <em>The Fellowship of the Ring</em>
		</small>
	</h1>
	<h3>
		<small style="color: white;">403 - Not Allowed.</small>
	</h3>
</div>