<div style="text-shadow: 2px 2px 3px black, 0 0 1em black, 0 0 0.2em black;">
	<h1 style="margin-top: 3em;">
		“Not all those who wander are lost.”
		<br />
		<small style="color: white;">
			― J.R.R. Tolkien, <em>The Fellowship of the Ring</em>
		</small>
	</h1>
	<h3>
		<small style="color: white;">404 - Not Found.</small>
	</h3>
</div>