<div style="text-shadow: 2px 2px 3px black, 0 0 1em black, 0 0 0.2em black;">
	<h1 style="margin-top: 3em;">
		“They have a Cave Troll..”
		<br />
		<small style="color: white;">
			― Boromir, J.R.R. Tolkien, <em>The Fellowship of the Ring</em>
		</small>
	</h1>
	<h3>
		<small style="color: white;">500 - Internal Server Error.</small>
	</h3>
	<h3>
		<small style="color: white;"><%= data %></small>
	</h3>
</div>