<% var viewid = viewid || "" %>
<!DOCTYPE html>
<html ng-app="Tome">
	<head>
		<title ng-bind="pageTitle"></title>

		<!-- Viewport mobile tag for sensible mobile support -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!--STYLES-->
<link rel="stylesheet" href="/styles/bootstrap-theme.css">
<link rel="stylesheet" href="/styles/bootstrap.css">
<link rel="stylesheet" href="/styles/font-awesome.css">
<link rel="stylesheet" href="/styles/importer.css">
<!--STYLES END-->

		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

		<script src="/js/jquery-2.1.1.js"></script>
	</head>

	<body class="<%= (typeof session.theme !== "undefined") ? session.theme : "" %>" ng-controller="TomeController">
		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Tome</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="" ng-click="INTENT.logout()">Logout</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>

		<!-- Page Content -->
		<div class="container bg" style="position: absolute; left: 0; right: 0; background: #333; background-image: url(<%= bgImage %>);">
			<div class="container bg" style="position: absolute; left: 0; right: 0; background-image: url('/images/bg-gradient.png');">
				<div class="bg-cover"></div>

				<%- body %>

				<span id="syncing" ng-show="INTENT.Sync.syncing()"><i class="fa fa-spin fa-refresh"></i></span>

				<!-- Footer -->
				<footer>
					<div class="row">
						<div class="col-lg-12">
							<p>
								<span class="themeFont">Copyright</span> &copy; <span class="themeFont">Tome <%= new Date().getFullYear() %></span>
							</p>
						</div>
					</div>
					<!-- /.row -->
				</footer>
			</div>
		</div>
		<!-- /.container -->

<!--TEMPLATES-->

<!--TEMPLATES END-->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

<!--SCRIPTS-->
<script src="/js/dist/sails.io.js"></script>
<script src="/js/lodash.js"></script>
<script src="/js/jquery-2.1.1.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/bootbox.min.js"></script>
<script src="/js/angular.js"></script>
<script src="/js/app.js"></script>
<script src="/js/services/IOService.js"></script>
<script src="/js/services/SayService.js"></script>
<script src="/js/services/SyncService.js"></script>
<script src="/js/services/ValidateService.js"></script>
<script src="/js/controllers/SplashController.js"></script>
<script src="/js/controllers/IndexController.js"></script>
<script src="/js/controllers/TomeController.js"></script>
<!--SCRIPTS END-->

	</body>
</html>