body {
	padding-top: 50px;
}

.character.wide {
	background-image: url(/images/charcardbg.jpg);
	background-size: cover;
	border-radius: 6px;
	text-align: left;
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
	-webkit-box-shadow: inset 0 0 1em #000, 0 0 1em #000, -1em 1em 2em #000;
	box-shadow: inset 0 0 1em #000, 0 0 1em #000, -1em 1em 2em #000;
	cursor: pointer;
}

.character.wide.view {
	cursor: auto;
}

.character.wide:hover .selector {
	visibility: visible;
}

.character.wide .name {
	font-size: 40px;
	text-shadow: 2px 2px 3px black, 0 0 1em black, 0 0 0.2em black;
}

.character.wide .race,
.character.wide .class {
	font-size: 20px;
	text-shadow: 2px 2px 3px black, 0 0 1em black, 0 0 0.2em black;
}

.character.wide .bio {
	font-size: 16px;
	text-shadow: 2px 2px 3px black, 0 0 1em black, 0 0 0.2em black;
}

.character.wide .avatar {
	margin: 1em 0;
}

.character.wide.new,
.character.wide.editable {
	background-image: none;
	background-color: rgba(0, 0, 0, 0.5);
}

.character.wide.display,
.character.wide.editable {
	cursor: auto;
}

.character.wide.display {
	text-shadow: 2px 2px 3px black, 0 0 1em black, 0 0 0.2em black;
}

.character.wide.display div {
	font-size: 18px;
}

.character.wide.display small {
	color: #BBB;
}

.character.wide.display #bio {
	text-indent: 2em;
}

.character.wide.editable .secrecy {
	cursor: pointer;
}

.character.wide .secrecy {
	margin-left: 1em;
	color: #BBB;
}

.character.wide.editable .secrecy:hover {
	color: #FFF;
}

.character.wide.editable h3,
.character.wide.editable h4 {
	padding-left: 10px;
}

.character.wide.editable [contenteditable] {
	border-radius: 20px;
	padding: 0.5em 0.5em 0.5em 10px;
	background: rgba(0, 0, 0, 0.5);
}

.character.wide.editable .error[contenteditable] {
	background: rgba(133, 57, 57, 0.5) !important;
}

.character.wide.editable .avatar.error {
	border: 3px ridge rgba(133, 57, 57, 1);
}

.imageError {
	pointer-events: none;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(133, 57, 57, 0.5);
	border-radius: 20px;
}

.uploadReminder {
	pointer-events: none;
	font-size: 30px;
	text-shadow: 2px 2px 3px black, 0 0 1em black, 0 0 0.2em black;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 2em;
}

.imageError.error {
	display: block;
}

.character.wide.editable span[contenteditable] {
	padding: 0.5em;
	display: inline-block;
	min-width: 4em;
}

.character.wide.editable [contenteditable]:hover {
	background: rgba(255, 255, 255, 0.5);
}

.charsheet .row {
	margin-left: -5px;
	margin-right: -5px;
}

.charsheet .col-xs-1, .charsheet .col-sm-1, .charsheet .col-md-1, .charsheet .col-lg-1, .charsheet .col-xs-2, .charsheet .col-sm-2, .charsheet .col-md-2, .charsheet .col-lg-2, .charsheet .col-xs-3, .charsheet .col-sm-3, .charsheet .col-md-3, .charsheet .col-lg-3, .charsheet .col-xs-4, .charsheet .col-sm-4, .charsheet .col-md-4, .charsheet .col-lg-4, .charsheet .col-xs-5, .charsheet .col-sm-5, .charsheet .col-md-5, .charsheet .col-lg-5, .charsheet .col-xs-6, .charsheet .col-sm-6, .charsheet .col-md-6, .charsheet .col-lg-6, .charsheet .col-xs-7, .charsheet .col-sm-7, .charsheet .col-md-7, .charsheet .col-lg-7, .charsheet .col-xs-8, .charsheet .col-sm-8, .charsheet .col-md-8, .charsheet .col-lg-8, .charsheet .col-xs-9, .charsheet .col-sm-9, .charsheet .col-md-9, .charsheet .col-lg-9, .charsheet .col-xs-10, .charsheet .col-sm-10, .charsheet .col-md-10, .charsheet .col-lg-10, .charsheet .col-xs-11, .charsheet .col-sm-11, .charsheet .col-md-11, .charsheet .col-lg-11, .charsheet .col-xs-12, .charsheet .col-sm-12, .charsheet .col-md-12, .charsheet .col-lg-12 {
	padding-left: 5px;
	padding-right: 5px;
}

.charsheet .vspace-38 {
	height: 38px;
}

.charsheet .vspace-19 {
	height: 19px;
}

.charsheet .attrcol {
	padding: 0;
}

.charsheet .attrrow {
	margin: 0;
}

.charsheet .attrs .attr {
	height: 36px;
}

.charsheet .left,
.charsheet .top {
	text-align: center;
	line-height: 12px;
}

.charsheet .left {
	font-size: 20px;
	padding-top: 7px;
}

.charsheet small {
	font-size: 10px;
}

.charsheet .legend small {
	color: #BBB;
}

.charsheet [contenteditable] {
	border-radius: 5px !important;
	min-width: 2.5em;
	text-align: right;
}

.charsheet .calculated {
	padding: 0.5em 0.5em 0.5em 10px;
	min-width: 2.5em;
	text-align: right;
	background: rgba(0, 0, 0, 0.3);
	height: 34px;
	border-radius: 5px;
}

.charsheet .inputbuddy {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 10px;
	pointer-events: none;
}

.charsheet #currhp,
.charsheet #nlhp,
.charsheet .special [contenteditable],
.charsheet .gear [contenteditable],
.charsheet .profile [contenteditable] {
	text-align: left;
}

.charsheet .profile [contenteditable]:not(.expandable),
.charsheet .sheet [contenteditable],
.charsheet .sheet .calculated {
	text-overflow: clip;
	max-height: 34px;
	overflow: hidden;
	white-space: nowrap;
}

.charsheet .profile [contenteditable].expandable
{
	white-space: pre;
}

.charsheet .sheet .calculated {
	text-overflow: ellipsis;
}

.charsheet #temp_mod,
.charsheet #currhp {
	white-space: normal;
}

.charsheet #currhp {
	min-height: 74px;
}

.charsheet #bab,
.charsheet #sr {
	text-align: center;
}

.charsheet #temp_mod {
	min-height: 88px;
}

.charsheet .mathsign,
.charsheet .skilldot {
	float: left;
}

.charsheet .mathsign.empty {
	width: 9px;
	height: 9px;
}

.charsheet .skilldot {
	padding-right: 8px;
	padding-top: 6px;
	height: 34px;
}

.charsheet .skillname {
	padding-top: 6px;
	height: 34px;
}

.charsheet .skills {
	border-bottom: 1px solid #222;
}

.charsheet .math {
	padding-top: 7px;
	padding-left: 1px;
}

.charsheet .cmlabel {
	margin-top: 5px;
}

.charsheet .save {
	width: 14.079%;
}

.charsheet .cm {
	width: 22.928%;
}

.charsheet .skill {
	width: 9.796%;
}

.charsheet .ac {
	width: 9.371%;
}

.charsheet .ab {
	width: 23.348%;
}

.charsheet .buttons {
	text-align: center;
}

.charsheet .buttons button {
	margin: 0 auto;
}

.gear {
	padding: 3px;
	border: 2px solid #222;
}

.charsheet .skilldot {
	cursor: pointer;
}

.charsheet .skilldot:hover {
	color: #BBB;
}