.dmBoxContainer {
	padding: 2em;
}

.dmBox {
	position: relative;
	cursor: pointer;
	user-select: none;
	border-radius: 6px;
	min-height: 100px;
	-webkit-box-shadow: inset 0 0 1em #000, 0 0 1em #000, -1em 1em 2em #000;
	box-shadow: inset 0 0 1em #000, 0 0 1em #000, -1em 1em 2em #000;
}

.dmBox h3 {
	padding-top: 22px;
	font-family: "Ringbearer", serif;
	font-size: 60px;
	text-shadow: 2px 2px 3px black, 0 0 1em black, 0 0 0.2em black;
	color: rgb(216, 204, 166);
	pointer-events: none;
}

.dmBox.pcViewer {
	background-image: url(/images/charactersbg.jpg);
}

.dmBox.roomCreator {
	background-image: url(/images/roomsbg.jpg);
}

.dmBox:hover .selector {
	visibility: visible;
}

.roomControl {
	position: absolute;
	top: -25px;
	font-size: 70px;
	color: #D8CCA6;
	text-shadow: 2px 2px 3px black, 0 0 1em black, 0 0 0.2em black;
}

.roomControl.visibility {
	left: -8px;
}

.roomControl.usability {
	left: 208px;
}

.roomControl.delete {
	right: -8px;
}

.roomControl:hover {
	font-size: 80px;
	top: -30px;
	color: #D1C17E;
}

.roomControl.visibility:hover {
	left: -12px;
}

.roomControl.usability:hover {
	left: 204px;
}

.roomControl.delete:hover {
	right: -12px;
}

.paintbrush {
	position: absolute;
	background-image: url(/images/paintbrush.png);
	bottom: 0;
	right: 45px;
	background-size: cover;
	height: 56px;
	width: 165px;
	transform: rotate(141deg);
}

.editable .frame {
	pointer-events: none;
}

.editable .pictureContainer img {
	cursor: pointer;
}

.editable .roomName,
.editable .roomSubheading {
	pointer-events: all;
}

#description {
	margin: 0 11em;
	text-shadow: 2px 2px 3px black, 0 0 1em black, 0 0 0.2em black;
}

.roomContainer.editable [contenteditable],
#description {
	border-radius: 20px;
	padding: 0.5em 0.5em 0.5em 10px;
	background: rgba(0, 0, 0, 0.5);
}

.roomName[contenteditable] {
	min-width: 3em;
	text-align: left;
}

.roomSubheading[contenteditable] {
	min-width: 6em;
}

.roomContainer.editable .roomSubheading {
	padding-left: 1.2em;
}

.roomContainer.editable [contenteditable]:hover,
#description:hover {
	background: rgba(255, 255, 255, 0.5);
}

.roomContainer.editable .error[contenteditable],
#description.error {
	background: rgba(133, 57, 57, 0.5) !important;
}

.player {
	color: #CFA252;
}