<div id="tome" class="campaign ng-cloak">
	<!-- Page Heading -->
	<div class="row heading page-header">
		<div class="col-lg-12">
			<h1 ng-if="campaign.name">
				<span ng-bind="campaign.name"></span>
				<small>Campaign</small>
			</h1>
			<h1 ng-if="!campaign.name">Campaign Rooms</h1>
			<h3 ng-if="campaign.tagline" ng-bind="campaign.tagline"></h3>
		</div>
	</div>

	<!-- Campaign Rooms -->
	<div class="campaignRooms">

		<div class="row roomContainer"
			 ng-repeat="room in campaign.rooms"
			 ng-class="{ open: room.open, closed: !room.open }">
			<div class="col-md-12">
				<a href="/room/{{ room.tag }}">
					<div class="frameContainer">
						<div class="pictureContainer">
							<img ng-src="{{ room.image }}" alt="">
						</div>
						<span class="roomName" ng-bind="room.name"></span>
						<span class="roomSubheading" ng-bind="room.subheading"></span>
						<span class="frame"></span>
					</div>
				</a>
			</div>
		</div>

		<div ng-if="INTENT.dmsCampaign()" class="row roomContainer">
			<div class="col-md-12">
				<a href="/dm/newroom">
					<div class="frameContainer">
						<div class="pictureContainer">
							<img src="/images/painting.jpg" alt="">
						</div>
						<span class="roomName">New Room</span>
						<span class="frame"></span>
					</div>
				</a>
			</div>
		</div>

		<h1 ng-if="!campaign.rooms.length && !INTENT.dmsCampaign()" class="emptyMessage">There are no rooms! Ask your DM to create some.</h1>
	</div>
</div>
