<div id="tome" ng-controller="IndexController">
	<div class="row dashboard">
		<div class="col-md-6">
			<div class="row">

				<!-- Account -->
				<div class="col-md-12 cardContainer">
					<div class="card">
						<h1><span ng-bind="user.name"></span> <small ng-bind="user.email"></small></h1>

						<!-- Characters -->
						<ul class="characterList">
							<li ng-repeat="char in user.characters | filter:{ type: 'char' }">
								<a href="/char/{{ char.id }}">
									<div class="charAvatar">
										<div class="imageBoundingBox" ng-style="{ 'background-image': 'url({{ char.avatar }})' }"></div>
									</div>
									<div class="charDetails">
										<div class="charName" ng-bind="char.name"></div>
										<div class="charText" ng-bind="char.level"></div>
									</div>
								</a>
							</li>

							<!-- New character -->
							<li>
								<div class="charAvatar">
									<div class="imageBoundingBox greyscale" style="background-image: url('/images/placeholder.jpg')"></div>
								</div>
								<div class="charDetails">
									<div class="charName">
										New Character
									</div>
									<div class="charText">
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<!-- Statistics -->
				<div class="col-md-12 cardContainer">
					<div class="card">
						<h1>Statistics</h1>
						<div class="stats">
							<div class="stat">
								<div class="statName">Characters</div>
								<div class="statNumber" ng-bind="user.characters.length"></div>
								<div class="statLine">&nbsp;</div>
							</div>

							<div class="stat">
								<div class="statName">Posts</div>
								<div class="statNumber" ng-bind="stats.postCount"></div>
								<div class="statLine">&nbsp;</div>
							</div>

							<div class="stat">
								<div class="statName">Campaigns participated in</div>
								<div class="statNumber" ng-bind="stats.campaignCount"></div>
								<div class="statLine">&nbsp;</div>
							</div>

							<div class="stat">
								<div class="statName">Average posts per campaign</div>
								<div class="statNumber" ng-bind="INTENT.Math.round(stats.postCount / stats.campaignCount)"></div>
								<div class="statLine">&nbsp;</div>
							</div>

							<div class="stat">
								<div class="statName">Average posts per character</div>
								<div class="statNumber" ng-bind="INTENT.Math.round(stats.postCount / user.characters.length)"></div>
								<div class="statLine">&nbsp;</div>
							</div>

							<div class="stat">
								<div class="statName">Quietest character</div>
								<div class="statNumber" ng-bind="INTENT.quietestCharacter().name + ' (' + INTENT.quietestCharacter().posts + ')'"></div>
								<div class="statLine">&nbsp;</div>
							</div>

							<div class="stat">
								<div class="statName">Quietest non-default character</div>
								<div class="statNumber" ng-bind="INTENT.quietestCharacter(true).name + ' (' + INTENT.quietestCharacter(true).posts + ')'"></div>
								<div class="statLine">&nbsp;</div>
							</div>

							<div class="stat">
								<div class="statName">Loudest character</div>
								<div class="statNumber" ng-bind="INTENT.loudestCharacter().name + ' (' + INTENT.loudestCharacter().posts + ')'"></div>
								<div class="statLine">&nbsp;</div>
							</div>

							<div class="stat">
								<div class="statName">Loudest non-default character</div>
								<div class="statNumber" ng-bind="INTENT.loudestCharacter(true).name + ' (' + INTENT.loudestCharacter(true).posts + ')'"></div>
								<div class="statLine">&nbsp;</div>
							</div>

							<div class="stat">
								<div class="statName">Die rolls</div>
								<div class="statNumber" ng-bind="stats.rolls.length"></div>
								<div class="statLine">&nbsp;</div>
							</div>

							<div class="stat">
								<div class="statName">Average d20 roll</div>
								<div class="statNumber" ng-bind="INTENT.averageRoll('d20')"></div>
								<div class="statLine">&nbsp;</div>
							</div>

							<div class="stat">
								<div class="statName">Critical failures (d20)</div>
								<div class="statNumber" ng-bind="INTENT.numberOfRolls('d20', 1) + ' (' + INTENT.Math.round(INTENT.numberOfRolls('d20', 1) / stats.rolls.length * 100) + '%)'"></div>
								<div class="statLine">&nbsp;</div>
							</div>

							<div class="stat">
								<div class="statName">Critical successes (d20)</div>
								<div class="statNumber" ng-bind="INTENT.numberOfRolls('d20', 20) + ' (' + INTENT.Math.round(INTENT.numberOfRolls('d20', 20) / stats.rolls.length * 100) + '%)'"></div>
								<div class="statLine">&nbsp;</div>
							</div>

							<div class="stat">
								<div class="statName">Luckiest character</div>
								<div class="statNumber" ng-bind="INTENT.luckiestCharacter().name + ' (' + INTENT.luckiestCharacter().luck + '%)'"></div>
								<div class="statLine">&nbsp;</div>
							</div>

							<div class="stat">
								<div class="statName">Luckiest non-default character</div>
								<div class="statNumber" ng-bind="INTENT.luckiestCharacter(true).name + ' (' + INTENT.luckiestCharacter(true).luck + '%)'"></div>
								<div class="statLine">&nbsp;</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="col-md-6">
			<div class="row campaigns">

				<!-- Campaigns -->
				<div class="cardContainer col-md-12" ng-repeat="campaign in campaigns | orderBy:INTENT.sortCampaignsByActivity">
					<div class="card campaign {{ campaign.theme }}">
						<div class="campaignInner">
							<a href="/campaign/{{ campaign.tag }}">
								<div class="campaignName" ng-bind="campaign.name"></div>
							</a>
							<ul class="rooms">
								<li ng-repeat="room in campaign.rooms | orderBy:'lastPost':true | limitTo:3">
									<a href="/room/{{ room.tag }}">
										<div class="roomImage">
											<div class="imageBoundingBox" ng-style="{ 'background-image': 'url({{ room.image }})' }"></div>
										</div>
										<div class="name">
											<div class="major" ng-bind="room.name"></div>
											<div class="minor" ng-bind="room.lastPost | date"></div>
										</div>
									</a>
								</li>
								<li class="empty" ng-show="campaign.rooms.length > 3">
									<a href="/campaign/{{ campaign.tag }}">
										<div class="name empty" ng-bind="(campaign.rooms.length - 3) + ' more...'"></div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="cardContainer col-md-12">
					<a href="/newcampaign">
						<div class="card campaign newCampaign">
							<div class="campaignInner">
								<div class="campaignName newCampaign">New Campaign</div>
							</div>
						</div>
					</a>
				</div>

			</div>
		</div>
	</div>
	<!--
	<div class="row">
		<%
		for(var i = 0; i < campaigns.length; i++)
		{
		%>
		<div class="dmBoxContainer col-md-6">
			<a href="/campaign/<%= campaigns[i].tag %>">
				<div class="dmBox <%= campaigns[i].theme %>">
					<div class="selector"></div>
					<h3><%= campaigns[i].name %></h3>
				</div>
			</a>
		</div>
		<%
		}
		%>
		<div class="dmBoxContainer col-md-6">
			<a href="/dm/newcampaign">
				<div class="dmBox campaignManager">
					<div class="selector"></div>
					<h3>New Campaign</h3>
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<%
		if(session.user && session.user.dm)
		{
		%>
		<div class="dmBoxContainer col-md-6">
			<a href="/dm/players">
				<div class="dmBox playerViewer">
					<div class="selector"></div>
					<h3>Players</h3>
				</div>
			</a>
		</div>
		<%
		}
		%>
		<div class="dmBoxContainer col-md-6">
			<a href="/chars">
				<div class="dmBox characterList">
					<div class="selector"></div>
					<h3>Characters</h3>
				</div>
			</a>
		</div>
	</div>
	-->
</div>